<nav [class.mobile-open]="isCollapsed" class="navbar fixed-top header-container">
    <div class="container nav-container">
        <a class="navbar-brand" href="#">Ruvalter</a>
        <ul class="navbar-nav header-links">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resume</a>
            </li>
          </ul>
    </div>
</nav>

