// Global variables
@import "~src/scss/angular/components-index";

// Local variables
.home-container{
    background-color: $color-black-main;
    height: 100%;
}

.no-wrap{
    white-space: nowrap;
}

.min-mobile-width{
    min-width: rem-calc(300);
}