// Global variables
@import "src/scss/angular/components-index";

// Local variables

h1{
    font-weight: $light;
}

.root-container{
    background-color: $color-pink-main;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.app-container{
    padding-top: rem-calc(50);
    position: relative;
    transition: all 300ms ease-in-out;
    z-index: 1;
    @include media-breakpoint-down(sm) {
        min-width: rem-calc(200);
        padding-top: 0;
        position: absolute;
        top: rem-calc(50);
        left: 0;
    }
    
    &.header-mobile-open{
        position: absolute;
        top: 100px;
        left: 250px;
    }
}

.toggle-container{
    background-color: $color-black-main;
    height: rem-calc(50);
    transition: all 350ms ease-in-out;
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    display: none;
    &.mobile-open{
        background-color: transparent;
    }
}