// Global variables
@import "~src/scss/angular/components-index";

// Local variables

h1{
    font-weight: $light;
}

.root-container{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b92778, #cc2b5e,  #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b92778, #cc2b5e, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: background-color 900ms ease-in-out;
    &.root-mobile-open{
        background: #cc2b5e;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #b92778, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #b92778, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.app-container{
    background-color: $color-black-main;
    height: 100%;
    padding-top: rem-calc(49);
    position: relative;
    transition: all 200ms ease-in-out;
    z-index: 1;
    @include media-breakpoint-down(sm) {
        min-width: rem-calc(200);
        padding-top: 1rem;
        position: absolute;
        top: rem-calc(50);
        left: 0;
    }
    
    &.header-mobile-open{
        position: absolute;
        top: 60px;
        left: 180px;
        height: 88vh;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 0px solid #ffffff;

        -webkit-box-shadow: -3px 2px 16px 0px rgba(56,56,56,0.76);
        -moz-box-shadow: -3px 2px 16px 0px rgba(56,56,56,0.76);
        box-shadow: -3px 2px 16px 0px rgba(56,56,56,0.76);
    }
}

.toggle-container{
    background-color: $color-black-main;
    height: rem-calc(50);
    padding: 1rem 1rem 0 1.7rem;
    transition: all 400ms ease-in-out;
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    display: none;
    &.mobile-open{
        background-color: transparent;
    }
}

.header-toggle{
    background-color: transparent;
    border: none;
    height: rem-calc(30);
    padding: 0;
}